.friendlist {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 40px;
  margin-top: 40px;
}
.smile {
  fill: green;
}
.sad {
  fill: red;
}
.iconSmile {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}
.iconSad {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}
